<h1>Playlists</h1>

<p>
  Choose a playlist below to see it's history
</p>

<ul>
<% @playlists.each do |playlist| %>
  <li><%=link_to playlist[:name], playlist_history_path(playlist[:playlist_id]) %></li>
<% end %>
</ul>
