<div class="playlist-history">
  <h1>History for <%= @history[:name] %></h1>
  <div class="timeline" data-controller="load-more" data-load-more-target="timeline">
    <div class="outer">
      <%= render partial: "delta_card", collection: @history[:changes], as: :delta %>
    </div>

    <div id="loading" data-load-more-target="loading" style="display: none;">Loading more items...</div>

    <% if @history[:changes].next_page %>
      <%= render partial: 'load_more_history_button', locals: {history: @history, params: params} %>
    <% else %>
      <%= render partial: "initial_card", locals: { history: @history } %>
    <% end %>
  </div>
</div>
