<h1 class="title">History for <%= @history[:name] %></h1>
<br />
<div class="timeline" data-controller="load-more" data-load-more-target="timeline">
  <div class="outer">
    <%= render partial: "delta_card", collection: @history[:changes], as: :delta %>
  </div>

  <div id="loading" data-load-more-target="loading" style="display: none;">Loading more items...</div>

  <%= render partial: 'load_more_history_button', locals: {history: @history, params: params} %>
</div>